header {
    display: flex;
    margin-bottom: 55px;
}
header > img {
    align-self: center;
}

#email_line {
    position: relative;
    bottom: 0;
    align-self: left;
    margin-left: 10px;
    margin-bottom: 10px;

}
/*
BACKGROUND

.fixed-bg {
    background-image: url("github_gifs/painter_1.gif");
    min-height: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
*/

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.header {
    display: flex;
    justify-content: left;
}
.next-button {
    width: 10%;
    background-color:cornflowerblue;
    font-size: 10px;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px
}

.random_player {
    margin-left: 10px;
    width: 100%;
}